.izabella__block {
  margin-top: 34px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  .block__title {
    margin-top: 16px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    p {
      color: #000000;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      font-family: 'Space Grotesk';
    }
  }
  .block__descr {
    margin-top: 4px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    p {
      color: #676767;
      font-size: 12px;
      font-weight: 400;
      font-family: 'Helvetica Neue';
    }
  }
  .block__time {
    margin-top: 10px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    p {
      color: #000000;
      font-size: 12px;
      font-weight: 700;
      font-family: 'Helvetica Neue';
    }
  }
  .block__text {
    margin-top: 8px;
    width: 312px;
    height: 60px;
    line-height: 60px;
    p {
      color: #676767;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      font-family: 'Helvetica Neue';
    }
  }
  .block__images {
    margin-top: 16px;
  }
}

// media 767px
@media (min-width: 767px) {
  .izabella__block {
    margin-top: 48px;
    display: flex;
    flex-direction: row-reverse;
    border: none;
    .block__title {
      margin: 20px 0 0 18px;
      width: 343px;
      height: 25px;
      line-height: 25px;
      p {
        font-size: 18px;
      }
    }
    .block__descr {
      margin: 4px 0 0 18px;
      width: 343px;
      height: 24px;
      line-height: 24px;
      p {
        font-size: 14px;
      }
    }
    .block__time {
      margin: 20px 0 0 18px;
      width: 343px;
      height: 24px;
      line-height: 24px;
      p {
        font-size: 14px;
      }
    }
    .block__text {
      margin: 8px 0 0 18px;
      width: 343px;
      height: 72px;
      line-height: 24px;
      p {
        font-size: 14px;
      }
    }
    .block__images {
      margin: 0;
      img {
        width: 343px;
        height: 343px;
      }
    }
  }
  .block-one {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 1270px) {
  .izabella__block {
    .block__title {
      margin: 24px 0 0 32px;
      width: 294px;
      height: 28px;
      line-height: 28px;
      p {
        font-size: 16px;
      }
    }
    .block__descr {
      margin: 4px 0 0 32px;
      width: 293px;
      height: 27px;
      line-height: 27px;
      p {
        font-size: 16px;
      }
    }
    .block__time {
      margin: 24px 0 0 32px;
      width: 294px;
      height: 27px;
      line-height: 27px;
      p {
        font-size: 16px;
      }
    }
    .block__text {
      margin: 12px 0 0 32px;
      width: 293px;
      height: 108px;
      line-height: 24px;
      line-height: 24px;
      p {
        font-size: 16px;
      }
    }
    .block__images {
      margin: 0;
      img {
        width: 294px;
        height: 294px;
      }
    }
  }
  .block-one {
    width: 325px;
  }
  .izabella__block.row-reverse {
    flex-direction: row;
    .block__title {
      margin: 24px 0 0 0;
    }
    .block__descr {
      margin: 4px 0 0 0;
    }
    .block__time {
      margin: 24px 0 0 0;
    }
    .block__text {
      margin: 12px 0 0 0;
    }
  }
}
