.block-form {
  margin-top: 32px;
  .subscribe__square {
    position: relative;
    width: 320px;
    height: 239px;
    background-color: #f4f4f4;
    .square__title {
      position: absolute;
      top: 24px;
      left: 16px;
      min-width: 107px;
      min-height: 20px;
      line-height: 20px;
      p {
        color: #676767;
        font-size: 12px;
        font-weight: 400;
        font-family: 'Helvetica Neue';
      }
    }
    .square__price {
      position: absolute;
      top: 68px;
      left: 16px;
      min-width: 134px;
      min-height: 30px;
      line-height: 30px;
      p {
        color: #000000;
        font-size: 30px;
        font-weight: 400;
        font-family: 'Helvetica Neue';
      }
      .price-desktop {
        display: none;
        color: #000000;
        font-size: 30px;
        font-weight: 400;
        font-family: 'Helvetica Neue';
      }
    }
    .square__per-month {
      position: absolute;
      top: 112px;
      left: 16px;
      min-width: 74px;
      min-height: 27px;
      line-height: 27px;
      p {
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Helvetica Neue';
      }
    }
    .square__text {
      position: absolute;
      top: 163px;
      left: 16px;
      min-width: 118px;
      min-height: 11px;
      line-height: 11px;
      p {
        color: #676767;
        font-size: 8px;
        font-weight: 400;
        font-family: 'Helvetica Neue';
      }
    }
    .square__month {
      position: absolute;
      top: 178px;
      left: 16px;
      min-width: 150px;
      min-height: 41px;
      line-height: 41px;
      p {
        color: #676767;
        font-size: 24px;
        font-weight: 400;
        font-family: 'Helvetica Neue';
      }
    }
    .square__sale {
      position: absolute;
      top: 68px;
      right: 49px;
      width: 105px;
      height: 56px;
      background-color: #fef653;
      .sale__discount {
        margin: 10px 0 0 20px;
        min-width: 35px;
        min-height: 20px;
        line-height: 20px;
        p {
          color: #000000;
          font-size: 14px;
          font-weight: 400;
          font-family: 'Space Grotesk';
        }
      }
      .sale__text {
        margin: 5px 0 0 20px;
        min-width: 65px;
        min-height: 11px;
        line-height: 11px;
        p {
          color: #676767;
          font-size: 8px;
          font-weight: 400;
          font-family: 'Helvetica Neue';
        }
      }
    }
  }
  .form {
    margin-top: 32px;
    width: 320px;
    display: flex;
    flex-direction: column;
    input {
      border: none;
      outline: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      color: #676767;
      font-size: 12px;
      font-weight: 400;
      font-family: 'Helvetica Neue';
      padding: 0 0 8px 0;
      margin-bottom: 24px;
    }
    input::placeholder {
      color: #676767;
      font-family: 'Helvetica Neue';
    }
    .btn {
      margin-top: 8px;
      width: 106px;
      height: 22px;
      border: none;
      border-bottom: 1px solid #000000;
      background-color: #ffffff;
      color: #000000;
      font-size: 20px;
      font-weight: 400;
      font-family: 'Space Grotesk';
      text-transform: uppercase;
      cursor: pointer;
      outline: none;
    }
  }
}

// media
@media (min-width: 767px) {
  .block-form {
    margin-top: 0;
    .subscribe__square {
      width: 343px;
      height: 248px;
      .square__title {
        top: 32px;
        min-width: 124px;
        min-height: 24px;
        line-height: 24px;
        p {
          font-size: 14px;
        }
      }
      .square__price {
        top: 76px;
        min-width: 147px;
        min-height: 32px;
        line-height: 32px;
        p {
          font-size: 32px;
        }
      }
      .square__per-month {
        top: 120px;
        min-width: 74px;
        min-height: 27px;
        line-height: 27px;
        p {
          font-size: 16px;
        }
      }
      .square__text {
        top: 171px;
        min-width: 148px;
        min-height: 14px;
        line-height: 14px;
        p {
          font-size: 10px;
        }
      }
      .square__month {
        top: 189px;
        min-width: 100px;
        min-height: 27px;
        line-height: 27px;
        p {
          font-size: 16px;
          text-decoration: line-through;
        }
      }
      .square__sale {
        top: 78px;
        right: 41px;
        width: 121px;
        height: 61px;
        .sale__discount {
          width: 40px;
          min-height: 20px;
          line-height: 20px;
          p {
            font-size: 16px;
          }
        }
        .sale__text {
          min-width: 81px;
          min-height: 14px;
          line-height: 14px;
          p {
            font-size: 10px;
          }
        }
      }
    }
    .form {
      width: 343px;
      input {
        width: 343px;
        font-size: 14px;
      }
    }
  }
}
@media (min-width: 1270px) {
  .block-form {
    .subscribe__square {
      width: 619px;
      height: 517px;
      .square__title {
        top: 48px;
        left: 48px;
        min-width: 142px;
        min-height: 27px;
        line-height: 27px;
        p {
          font-size: 16px;
        }
      }
      .square__price {
        top: 107px;
        left: 48px;
        min-width: 174px;
        min-height: 52px;
        line-height: 52px;
        p {
          display: none;
        }
        .price-desktop {
          display: block;
          font-size: 52px;
        }
      }
      .square__per-month {
        top: 173px;
        left: 48px;
        min-width: 111px;
        min-height: 41px;
        line-height: 41px;
        p {
          font-size: 24px;
        }
      }
      .square__text {
        top: 260px;
        left: 48px;
        min-width: 207px;
        min-height: 20px;
        line-height: 20px;
        p {
          font-size: 14px;
        }
      }
      .square__month {
        top: 284px;
        left: 48px;
        min-width: 150px;
        min-height: 41px;
        line-height: 41px;
        p {
          font-size: 24px;
          text-decoration: line-through;
        }
      }
      .square__sale {
        top: 107px;
        right: 196px;
        width: 153px;
        height: 73px;
        .sale__discount {
          min-width: 50px;
          min-height: 28px;
          line-height: 28px;
          p {
            font-size: 20px;
          }
        }
        .sale__text {
          min-width: 113px;
          min-height: 20px;
          line-height: 20px;
          p {
            font-size: 14px;
          }
        }
      }
    }
    .form {
      margin: 0;
      width: 619px;
      position: absolute;
      left: 0;
      bottom: 0;
      input {
        margin-bottom: 28px;
        width: 619px;
        font-size: 16px;
        padding: 0 0 16px 0;
      }
      .btn {
        width: 159px;
        height: 33px;
        font-size: 30px;
      }
    }
  }
}
