.block-start {
  .subscribe__start {
    margin-top: 48px;
    display: flex;
    align-items: center;
    .start {
      margin-right: 8px;
      width: 46px;
      height: 20px;
      color: #000000;
      font-size: 14px;
      font-weight: 500;
      font-family: 'Space Grotesk';
      text-transform: uppercase;
      line-height: 20px;
    }
    .month {
      width: 266px;
      height: 20px;
      color: #676767;
      font-size: 12px;
      font-weight: 400;
      font-family: 'Helvetica Neue';
      line-height: 20px;
    }
  }
  .subscrube__remained {
    margin-top: 16px;
    display: flex;
    .remained {
      margin-right: 8px;
      width: 72px;
      height: 20px;
      color: #000000;
      font-size: 14px;
      font-weight: 500;
      font-family: 'Space Grotesk';
      text-transform: uppercase;
      line-height: 20px;
    }
    .seats {
      width: 240px;
      height: 20px;
      color: #676767;
      font-size: 12px;
      font-weight: 400;
      font-family: 'Helvetica Neue';
      line-height: 20px;
    }
  }
  .subscrube__text {
    margin-top: 32px;
    width: 320px;
    height: 81px;
    line-height: 27px;
    p {
      color: #676767;
      font-size: 16px;
      font-weight: 400;
      font-family: 'Helvetica Neue';
    }
  }
}
