.subscribe {
  margin: 76px 0 76px 0;
  .container {
    width: 312px;
    margin: 0 auto;
  }
  .subscribe__title {
    width: 312px;
    height: 72px;
    color: #f4f4f4;
    line-height: 33px;
    span {
      display: inline;
      background-color: #1519ff;
      text-transform: uppercase;
      box-shadow: 0 0 0 #1519ff, 5px 0 0 #1519ff;
      font-size: 30px;
      font-weight: 500;
      font-family: 'Space Grotesk';
    }
  }
}

// media
@media (min-width: 767px) {
  .subscribe {
    .container {
      width: 704px;
      .subscribe__title {
        width: 704px;
        height: 43px;
        line-height: 40px;
        span {
          font-size: 36px;
        }
      }
      .subscribe__wrapp {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
