.block-start {
  margin-top: 48px;
  .subscribe__start {
    display: flex;
    align-items: center;
    .start {
      margin-right: 8px;
      width: 46px;
      height: 20px;
      color: #000000;
      font-size: 14px;
      font-weight: 500;
      font-family: 'Space Grotesk';
      text-transform: uppercase;
      line-height: 20px;
    }
    .month {
      width: 266px;
      height: 20px;
      color: #676767;
      font-size: 12px;
      font-weight: 400;
      font-family: 'Helvetica Neue';
      line-height: 20px;
    }
  }
  .subscrube__remained {
    margin-top: 16px;
    display: flex;
    .remained {
      margin-right: 8px;
      width: 72px;
      height: 20px;
      color: #000000;
      font-size: 14px;
      font-weight: 500;
      font-family: 'Space Grotesk';
      text-transform: uppercase;
      line-height: 20px;
    }
    .seats {
      width: 240px;
      height: 20px;
      color: #676767;
      font-size: 12px;
      font-weight: 400;
      font-family: 'Helvetica Neue';
      line-height: 20px;
    }
  }
  .subscrube__text {
    margin-top: 32px;
    width: 320px;
    height: 81px;
    line-height: 27px;
    p {
      color: #676767;
      font-size: 16px;
      font-weight: 400;
      font-family: 'Helvetica Neue';
    }
  }
}

// media
@media (min-width: 767px) {
  .block-start {
    .subscribe__start {
      .start {
        width: 59px;
        height: 25px;
        line-height: 25px;
        font-size: 18px;
      }
      .month {
        width: 68px;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
      }
    }
    .subscrube__remained {
      .remained {
        width: 93px;
        height: 25px;
        line-height: 25px;
        font-size: 18px;
      }
      .seats {
        width: 53px;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
      }
    }
    .subscrube__text {
      width: 343px;
      p {
        font-size: 16px;
      }
    }
  }
}
