@import 'fonts';
@import 'izabella';
@import 'izabellaBlock';
@import 'subscribe';
@import 'subscribeStart';
@import 'subscribeForm';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Space Grotesk', 'Helvetica Neue', sans-serif;
}
// body {
//   -webkit-font-smoothing: antialiased;
// }
.hr {
  width: 312px;
  height: 2px;
  margin: 0 auto;
}
@media (min-width: 767px) {
  .hr {
    width: 767px;
  }
}
@media (min-width: 1270px) {
  .hr {
    width: 1270px;
  }
}

